hotkey-overlay {
    skip-at-startup
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_QPA_PLATFORM "wayland"
}

spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"